<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>📣 Barbaric Yawps</title>
  {% set css %}
    {% include "style.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>
<body>
  <div class="tint">
    <header class="site-head" role="banner">
      <div><h1>Barbaric Yawps</h1></div>
      <p>
        This site is populated with content from a public <a href="{{ site.trello_board }}">Trello board</a>. Every deployment pulls the  content from the Trello API and generates the site's HTML at build time on <a href="https://netlify.com{{ site.utm }}">Netlify</a>.
      </p>
    </header>
  </div>
  <main class="wrapper">
    {% for card in trello %}
    <section>
      <div><h2>{{ card.name }}</h2></div>
      <div class="stax">
      {% markdown %}
        {{- card.desc | safe }}
      {% endmarkdown %}
      </div>
    </section>
    {% endfor %}
  </main>
  <div class="tint">
    <footer class="wrapper">
      <p>
        This site is populated with content from a public <a href="{{ site.trello_board }}">Trello board</a>. Every deployment pulls the  content from the Trello API and generates the site's HTML at build time on <a href="https://netlify.com{{ site.utm }}">Netlify</a>.
      </p>
      <p>
        Feel free to explore this site's <a href="{{ pkg.repository.url }}">code in GitHub</a> to learn more and try this out for yourself.
      </p>
    </footer>
  </div>
</body>
</html>
